.app {
    width: 100%;
    min-height: 100vh;
}

.tabs {
    width: 100%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-list {
    display: flex;
    width: fit-content;
    gap: var(--spacing-md);
}

.tabs-content {
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--color-card);
    color: var(--color-card-foreground);
    border-radius: var(--radius);
}

.feature {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.feature-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-xl) var(--spacing-sm);
}

.feature-title {
    scroll-margin-top: 5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

